<br>
<mat-card>
    <mat-card-header>
        <mat-card-title>
            About us
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut tincidunt leo. Phasellus interdum bibendum arcu, a vehicula
        felis suscipit vel. Ut egestas sit amet massa vitae dictum. Donec at eros arcu. Mauris vitae finibus elit. Mauris
        pulvinar efficitur laoreet. Aliquam vulputate ultrices iaculis. Interdum et malesuada fames ac ante ipsum primis
        in faucibus.
    </mat-card-content>
</mat-card>